

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>     
     About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About Us</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="../../assets/icon/Manuel.jpg">
    <ion-card-header>
      <ion-card-title>Manuel Cretone</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Student at University of Camerino</p>
      <p>Frontend Developer</p>
      <p>Arduino Engineer</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/icon/Matteo.jpg">
    <ion-card-header>
      <ion-card-title>Matteo Guerrini</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Student at University of Camerino</p>
        <p>Backend Developer</p>
        <p>Arduino Engineer</p>
    </ion-card-content>
  </ion-card>
    
  <ion-card>
    <img src="../../assets/icon/Giacomo.png">
    <ion-card-header>
      <ion-card-title>Giacomo Menchi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Student at University of Camerino</p>
      <p>Sketch Developer</p>
      <p>Arduino Engineer</p>
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
