<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>     
      Obstacle Detection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- <div class="center" >
 
</div>

<div style="height: 100%; display: flex; align-items: center; justify-content: center;">
  
</div>
<div style=" display: flex; align-items: center; justify-content: center;">


  
  </div> -->
<div style="height: 100%;  display: block; align-items: center; justify-content: center;">
  <div>
    <img  width="180" height="350"  src="../../assets/icon/body.png">
</div>
  <div id="rectangle"></div>
  <div id="rectangle1"></div>
  <div id="rectangle2"></div>
</div>

 
  
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
