<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>     
      Obstacle Recognition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card [style.background-color]="colorHead" (click)="getDistanceHead()"  >
    <ion-card-title class="title" size="large">Head Sensor</ion-card-title>
    <h1 class="font">{{ randomHead }}</h1>
  </ion-card>
 
  <ion-card   [style.background-color]="colorHand" (click)=getHandSensor()>
    <ion-card-title class="title" size="large">Hand Sensor</ion-card-title>
    <h1 class="font">{{ randomHand }}</h1>
  </ion-card>
 
  <ion-card [style.background-color]="colorFoot" (click)="getDistanceFoot()" >
    <ion-card-title class="title" size="large">Foot Sensor</ion-card-title>
    <h1 class="font">{{ randomFoot }}</h1>
  </ion-card>
  
  
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
