ion-content ion-toolbar {
  --background: translucent;
}


ion-card{
  height: 30%;
  background-color: white;
}


ion-title {
  text-align: center;
  color: black;
  //font-size: 30px;
}

.action {
  --background: var(--myvar);
}

h1{
  
  text-align: center;
  color: black;
  
 
}