ion-content ion-toolbar {
  --background: translucent;
}
.ion-content{
  background-color: black;
}

ion-card{
  height: 25%;
  background-color: white;
}

.font{
  font-size: 500%;
}

.title{
  text-align: center;
  color: black;
  font-size: 250%;
}

.action {
  --background: var(--myvar);
}

h1{
  
  text-align: center;
  color: black;
  
 
}