ion-content ion-toolbar {
  --background: translucent;
}



.center{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#rectangle {
  left: 20px;
  width: 100px;
  height: 20px;
  background: red;
}
#rectangle1 {
  left: 20px;
  width: 150px;
  height: 20px;
  background: red;
}

#rectangle2 {
  
 margin-top: initial;
  width: 200px;
  height: 20px;
  background: red;
}

