ion-content ion-toolbar {
  --background: translucent;
}

.ion-fab{
  
  width: 100%;
}

ion-title {
  text-align: center;
  color: white;
  //font-size: 30px;
}
.ion-content{
  background-color: black;
}

h2.headertekst {
  text-align: center;
}
.center {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
  font-size: 200%;
  margin-top: 60%;
}